<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>H3cK_W4b/form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="css/knacss.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="center" id="main">
        <form class="text">
            First name:<br>
            <input type="text" name="firstname"><br>
            Last name:<br>
            <input type="text" name="lastname">
            </br>   
            <textarea rows="4" cols="50">
            </textarea>
        </form>
    </div>
</body>
</html>
