<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Esi'hack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="css/knacss.css">
    <link rel="stylesheet" href="css/main.css">
	<style>
	button
	{
		border: 0;
		padding: 0px;
		width: 250px;
		height: 250px;
	
	}
	button:hover
	{
		filter: invert (100%);
		background-color: black;
	}
	#var1
	{
		background-color: transparent;
		background-image: url("./001.svg");
		margin-right: 10%;	
	}
	#var2
	{
		background-color: transparent;
		background-image: url("./002.svg");
		margin-left: 10%;			
	}
	</style>
</head>
<body>
	<div class="center" id="main">
	<!--
        <h1 class="text title center">┃Esi'Hack┃</h1>
	<p class="text p"></p> -->
	<div id="madiv">
	<button id="var1"></button>
	<button id="var2"></button>
	</div>
    </div>
</body>
</html>
